/* Colors and font */
body {
	background-color: #f7e8f0;
	color: rgb(50,50,50);
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 16px;
	font-weight: lighter;
}

h1 {
	color: #d45079;
	font-weight: 520;
	letter-spacing: 5px; 
	font-size: 40px;
	text-transform: uppercase;
}

h1 , h2 {
      font-family: 'Roboto Condensed', sans-serif;
}


h2 {
	color: #ffb6b9;
	font-style: 30px;
	font-weight: 400;
	letter-spacing: 3px;
}
a {
	text-decoration: none;
	color: rgb(50,50,50);
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
	font-size: 20px;
}
a:hover {
	color: rgb(230,230,230);
	font-weight: 500;
}


/* Custom design with class */

.container{
	width: 700px;
	margin: 40px auto;
}
.card-white {
	background-color: white;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%; 
}
.btn-design {
	background-color:  #d45079;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
	
.btn-design:hover {
	background-color: #f7e8f0;
	color: #d45079;;

}
.list-inline {
	list-style: none;
	padding-left: 0px
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list {
	list-style: none;
}
.list-inline i {	
	font-size: 50px;
	color: rgb(230,230,230);
}
.list-inline i:hover {	
	color: #d45079;	
}
#introduction p {	
	margin-bottom: 30px
}
.list-rap {
	list-style: none;
}





